.myform {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.2px solid rgb(225, 234, 234);
  width: 26em;
  height: 17em;
  margin: auto;
  margin-top: 120px;
  box-shadow: 14px 14px 12px;
  background-color: #FFFFFF;
  font-family: sans-serif;
  border-radius: 20px;
}
.email {
  font-weight: 200px;
  font-size: 20px;
  margin-right: 30px;

}
.password {
  font-weight: 500;
  font-size: 20px;
}
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}
.block {
  padding-top: 37px;
}
.button {
  margin-top: 37px;
  margin-left: 32px;
  width: 269px;
  height: 46px;
  border-radius: 17px;
  background-color: #cbbed8;
  font-family: sans-serif;
  border: none;
  text-decoration: none;
}
 h3{
  text-align: center;
 }
